@using Mino.Core.Models
@model Mino.Core.ViewModels.SidebarViewModel

<div id="sidebar-wrapper" class="hidden-sm hidden-xs">
    <div class="edit-task-content js-edit-task-content hidden">
        <ul class="sidebar-nav">
            @using (Html.BeginForm())
            {
                <li class="form-group">
                    @Html.HiddenFor(x => x.Task.Id)
                    @Html.LabelFor(x => x.Task.Name)
                    @Html.TextBoxFor(x => x.Task.Name, new { @class = "form-control js-edit-task-name" })
                </li>
                <li class="form-group">
                    @Html.LabelFor(x => x.Task.Project)
                    @Html.DropDownListFor(x => x.Projects,
                       new SelectList(Model.Projects, "Id", "Name"),
                       "",
                       new { @class = "form-control js-edit-dropdown-projects" })
                </li>
                <li>
                    @Html.LabelFor(x => x.Task.Tag)
                    @Html.DropDownListFor(x => x.Tags,
                        new SelectList(Model.Tags, "Id", "Name"),
                        "",
                        new { @class = "form-control js-edit-dropdown-tags" })
                </li>
                <li>
                    @Html.LabelFor(x => x.Date)
                    <input type="date" class = "form-control js-edit-date" />
                </li>
                <li>
                    @Html.LabelFor(x => x.Time)
                    <input type="time" class="form-control js-edit-time" />
                </li>
                <li>
                    @Html.LabelFor(x => x.Task.Priority)
                    @Html.DropDownList("Priorities",
                       EnumHelper.GetSelectList(typeof(TaskPriority)),
                       "",
                       new { @class = "form-control js-edit-dropdown-priority" })
                </li>
            }
        </ul>
        <button class="btn btn-primary btn-sm pull-right js-edit-task">Modify</button>
        <button class="btn btn-danger btn-sm pull-left js-delete-task">Delete</button>
    </div>

    <div class="js-sidebar-content animated bounceIn">
        <nav>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    @Html.ActionLink("Today", "Today", "Tasks", null, new { @class = "sidebar-item-text" })
                </li>
                <li class="sidebar-item">
                    @Html.ActionLink("Next 7 days", "NextWeek", "Tasks", null, new { @class = "sidebar-item-text" })
                </li>
                <li class="sidebar-item">
                    @Html.ActionLink("Default inbox", "Index", "Tasks", null, new { @class = "sidebar-item-text" })
                </li>
                <li>
                    @using (Html.BeginForm("Search", "Tasks"))
                    {
                        <div class="form-group search-form">
                            <label>Search for tasks</label>
                            @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control"})
                        </div>
                    }
                </li>
                <li class="sidebar-item">
                    <a href="#sub-projects" data-toggle="collapse" data-parent="#sub-projects" data-remote="true">
                        <span class="glyphicon glyphicon-briefcase sidebar-icon"></span>
                        <span class="sidebar-item-text">Projects</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li>
                    <div class="collapse in menu-in-list" id="sub-projects">
                        <ul class="sidebar-nav">
                            @foreach (var project in Model.Projects)
                            {
                                <li class="sidebar-item">
                                    <a href="@Url.Action("Project", "Tasks", new {projectId = project.Id})">
                                        <span class="glyphicon glyphicon-record @project.Color" aria-hidden="true"></span>
                                        <span class="sidebar-menu-in-item-text">@project.Name</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
                <li class="sidebar-item">
                    <a href="#sub-tags" data-toggle="collapse" data-parent="#sub-tags" data-remote="true">
                        <span class="glyphicon glyphicon-tag sidebar-icon"></span>
                        <span class="sidebar-item-text">Tags</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                <li>
                    <div class="collapse menu-in-list" id="sub-tags">
                        <ul class="sidebar-nav">
                            @foreach (var tag in Model.Tags)
                            {
                                <li class="sidebar-item">
                                    <a href="@Url.Action("Tag", "Tasks", new {tagId = @tag.Id})">
                                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                        <span class="sidebar-menu-in-item-text">@tag.Name</span>
                                    </a>
                                </li>
                            }
                            <li>
                                <div class="add-tag js-add-tag">
                                    <a href="#" class="js-show-tag-form">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Add Tag
                                    </a>
                                </div>

                                <div class="tag-form hidden js-tag-form">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(t => t.Tag.Name)
                                            @Html.TextBoxFor(t => t.Tag.Name, new { @class = "form-control js-tag-name", placeholder = "eg. Adam" })
                                        </div>
                                    }
                                    <button class="btn btn-success btn-sm pull-right js-create-tag">Create</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="add-project js-add-project">
            <a href="#" class="js-show-project-form">
                <span class="glyphicon glyphicon-plus"></span>
                Add project
            </a>
        </div>

        <div class="projects-form hidden js-project-form">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(p => p.Project.Name)
                    @Html.TextBoxFor(p => p.Project.Name, new { @class = "form-control js-project-name", placeholder = "eg. Work" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.Project.Color)
                    @Html.DropDownListFor(c => c.Project.Color, Model.ColorType, "", new {@class= "form-control project-color js-project-color" })
                </div>
            }
            <button class="btn btn-success btn-sm pull-right js-create-project">Create</button>
        </div>
    </div>
</div>
